
body {
	background:#ececec;
	font-family:'Helvetica Neue',Helvetica;
	margin:0px;
	-webkit-perspective-origin: 50% 50%;
	-webkit-perspective: 700px;
}

#container {
	padding-left:200px;
	padding-top:200px;
}

.card {
	width:323px;
	height:482px;
	border-radius:22px;
	display:block;
	margin:40px;
	position:absolute;	
	box-shadow: 0;
	cursor:pointer;
	background-image:url('img/card.png');
	box-shadow:0 8px 8px rgba(0,0,0,.28);
	-webkit-transition: -webkit-transform .2s ease-in-out,box-shadow .2s ease-in-out;
}

.card.pickedUp {
	box-shadow:0 28px 28px rgba(0,0,0,.48);
	-webkit-transform: scale(1.1) rotateX(0deg);
	-webkit-transition: box-shadow 400ms ease'/*, transform 400ms ease;*/
	z-index:1;
}