* {
	font-family: helvetica;
}
body {
	padding:0px;
	margin:0px;
}

#container {
	height:100%;
	margin:auto;
}

#overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}
#startButton {
	cursor:pointer;
}

.centered {
	width:400px;
	margin:auto;
	background-color:rgba(255,255,255,0.5);
	color:white;
	text-align:center;
	padding:10px;
	border-radius:10px;
	font-size:16pt;
	margin-top:30%;
}
#hud {
	position: absolute;
	top:0;
	left:300px;
	color:white;
	background-color:rgba(0,0,0,0.5);
	padding:10px;
	border-radius:10px;
}

#hud span {
	color:white;
}