body {
	margin:0px;
	padding:0px;
}

div {
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
}
ul,li {
	list-style: none;
	display:inline;
	padding:0;
	margin:0;
}

@font-face {
  font-family: 'typicons';
  src: url("lib/typicons.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

.header {
	padding:20px;
}
.header .menu {
	line-height:20px;
}
.header .menu a {
	padding-right:10px;
	height: 20px;
	line-height:20px;
	text-decoration:none;
	color:black;
	text-transform: capitalize;
}
.header .menu .items {
	margin-left:20px;
	opacity:0;
	display:inline;
	transition:opacity 0.3s
}
.header .menu .items.visible {
	opacity:1;
}
.header .menu .menuButton {
	line-height:20px;
	height:20px;
	font-size:18pt;	
	display:inline;
	color:rgb(224,224,224);
	cursor:pointer;
}

.header .menu:hover .menuButton {
	color:black;
}
.blade {
	padding:50px 20px;
	position:absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	z-index: -1;
}

.blade.works {
	background-color:#00aaa8;
}

.blade.profile {
	background-color:#1aa0e1;
}

.blade.contact {
	background-color:#d80073;
}

.blade .body {
	background-color:#212527;
	color:white;
}
.fadeIn {
    -webkit-animation: fadeIn 0.4s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes fadeIn {    
	from {opacity:.2;width:0;}
    to {opacity: 1;width:100%;}
}


