body {
	margin:0px;
	padding:0px;
}

#pageLayout {
}

#leftColumn {
	width:200px;
	float:left;
}

#rightColumn {
	overflow:hidden;
}

#container {}

	#container .galleryPic {
		float: left;
		background-size: cover;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border:1px solid white;
	}
		#container .galleryPic .buttonBar {
			background-color:rgba(0,0,0,0.5);
			padding:10px;
			font-family:helvetica;
			color:white;
			font-size:10pt;
			display:none;
		}

	#container .galleryRow {
		clear:left;
	}

.clear {
	clear:both;
}
