@-webkit-keyframes fadeIn100
{
  from { opacity:0; -webkit-transform: rotateX(-120deg); }
    to { opacity:1; -webkit-transform: rotateX(0deg); }
}

@-moz-keyframes fadeIn100
{
  from { opacity:0; -moz-transform: rotateX(-120deg); }
    to { opacity:1; -moz-transform: rotateX(0deg); }
}

@keyframes fadeIn100
{
  from { opacity:0; -transform: rotateX(-120deg); }
    to { opacity:1; -transform: rotateX(0deg); }
}

body {
	margin:0px;
	padding:0px;
}

input {
	margin:10px;
}

#pageLayout {}

	#leftColumn {
		width:200px;
		float:left;
	}

	#rightColumn {
		padding-left:200px;
		padding-top:100px;
		overflow:visible;
	}

		#container {
		  -webkit-perspective: 800px;
		     -moz-perspective: 800px;
		          perspective: 800px;
		}

			#pageContainer {
				opacity:0;
				clear:left;
				position;relative;
				-webkit-animation: fadeIn100 0.7s;
			  	-webkit-animation-iteration-count: 1;
			  	-webkit-animation-fill-mode: forwards;
			  	   -moz-animation: fadeIn100 0.7s;
			  	   -moz-animation-iteration-count: 1;
			  	   -moz-animation-fill-mode: forwards;
			  	        animation: fadeIn100 0.7s;
			  	        animation-iteration-count: 1;
			  	        animation-fill-mode: forwards;
			  	-webkit-transform-style: preserve-3d;
			  	   -moz-transform-style: preserve-3d;
				        transform-style: preserve-3d;
			}

				#pageContainer .galleryPic {
					overflow:visible;
					border:1px solid white;
					background:grey;
					background-size: cover;
					float: left;
					position:relative;
					-webkit-box-sizing: border-box;
					   -moz-box-sizing: border-box;
					        box-sizing: border-box;
				}

				#pageContainer .galleryPic .infoBar {
					-webkit-transition: opacity 0.2s;
					   -moz-transition: opacity 0.2s;
							transition: opacity 0.2s;
					-webkit-box-sizing: border-box;
					   -moz-box-sizing: border-box;
					        box-sizing: border-box;
					background-color:rgba(0,0,0,0.6);
					padding:10px;
					font-family:helvetica;
					font-size:9pt;
					color:white;
					height:100%;
					display:none;
				}

				#pageContainer .galleryPic:hover .galleryPicPopup {
					opacity:1;
				}

				#pageContainer .galleryPic .galleryPicPopup {
					position:absolute;
					left:-40%;
					top:-40%;
					height:inherit;
					width:inherit;
					opacity:0;
					min-width:100px;
					min-height:100px;
				}

				#pageContainer .galleryPic .galleryPicPopup .galleryPicPopupContent {
					width:180%;
					height:180%;
					position:absolute;
					background-color:rgba(0,0,0,0.6);
					background-size:cover;
					border-radius:4px;
					color:white;
					padding:10px;
					font-family: helvetica;
					z-index:999;
					box-shadow: 0 10px 20px rgba(0,0,0,0.3), 0 6px 6px rgba(0,0,0,0.63);
				}

				#pageContainer .galleryPic .infoBar .code {
					float:right;
					color:white;
				}

.clear {
	clear:both;
}
